@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
body {
  margin: 0;
  font-family: "Abyssinica SIL", serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-main {
  background-color: #002E69;
}
